<?xml version="1.0" encoding="UTF-8"?>

<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="http://schema.phpunit.de/4.5/phpunit.xsd"
         backupGlobals="false"
         colors="true"
         bootstrap="vendor/autoload.php"
         beStrictAboutOutputDuringTests="false"
>
    <php>
        <ini name="error_reporting" value="-1" />
    </php>

    <testsuites>
        <testsuite name="CodeIgniter Gettext Test Suite">
            <directory>./tests/</directory>
        </testsuite>
    </testsuites>

    <filter>
        <whitelist processUncoveredFilesFromWhitelist="true" addUncoveredFilesFromWhitelist="true">
            <directory>./src</directory>
        </whitelist>
    </filter>

    <logging>
        <log type="coverage-html" target="./code-coverage" charset="UTF-8"
             yui="true" highlight="true"
             lowUpperBound="50" highLowerBound="80"
             showUncoveredFiles="true"
        />
        <log type="coverage-clover" target="./code-coverage/coverage.xml"/>
        <log type="coverage-text" target="php://stdout" showUncoveredFiles="false" showOnlySummary="true" />
        <log type="junit" target="report/junit.xml" logIncompleteSkipped="true" />
    </logging>

    <php>
        <const name="PHPUNIT_TESTING" value="TRUE"/>
        <const name="BASEPATH" value="TRUE"/>
    </php>

</phpunit>